# Importing the Dependencies

In [47]:
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Dataset and Data Preprocessing

https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud

In [ ]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv("Dataset/creditcard.csv")
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
# dataset informations
print(credit_card_data.shape)
credit_card_data.info()

(284807, 31)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()    # unbalanced dataset!

Class
0    284315
1       492
Name: count, dtype: int64

In [ ]:
# separating the data for analysis
legit = credit_card_data[credit_card_data['Class'] == 0]
fraud = credit_card_data[credit_card_data['Class'] == 1]

In [ ]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [54]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Unbalanced Dataset
An unbalanced dataset (or imbalanced dataset) occurs when the classes in a classification problem are not represented equally. For example, in a binary classification problem, if 90% of the data belongs to class 0 and only 10% to class 1, the dataset is unbalanced. This can lead to biased models that perform well on the majority class but poorly on the minority class.

**Solutions for Handling Unbalanced Datasets:**

**1.	Resampling Techniques:**

**- Under-Sampling:** Reduces the number of instances in the majority class to balance the dataset. This can help prevent the model from being biased towards the majority class.

**- Over-Sampling:** Increases the number of instances in the minority class by duplicating them or generating new synthetic samples (e.g., using SMOTE - Synthetic Minority Over-sampling Technique).

**2.	Algorithmic Approaches:**

**- Cost-Sensitive Learning:** Modifies the learning algorithm to pay more attention to the minority class by assigning higher misclassification costs to the minority class.

**- Ensemble Methods:** Combines multiple models to improve performance, such as using balanced random forests or boosting techniques that focus on the minority class.

**3.	Evaluation Metrics:**
- Use metrics that are more informative for unbalanced datasets, such as precision, recall, F1-score, and the area under the ROC curve (AUC-ROC), instead of accuracy.

In [56]:
legit_samle = legit.sample(n = 492)
legit_samle.shape

(492, 31)

In [57]:
credit_card_data_balanced = pd.concat([legit_samle, fraud], axis = 0)
print(credit_card_data_balanced.shape)
credit_card_data_balanced.head()

(984, 31)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
10,10.0,1.449044,-1.176339,0.913860,-1.375667,-1.971383,-0.629152,-1.423236,0.048456,-1.720408,...,-0.009302,0.313894,0.027740,0.500512,0.251367,-0.129478,0.042850,0.016253,7.80,0
13037,22900.0,0.868144,-0.353725,1.343481,1.735037,-1.048376,0.084588,-0.622447,0.123781,2.099971,...,0.085338,0.382178,-0.103016,0.336469,0.290656,-0.281179,0.029139,0.048541,127.00,0
188266,127896.0,-0.305928,1.781756,0.582570,4.523847,0.195994,0.193104,0.287213,0.414617,-1.983284,...,0.411038,1.325539,-0.178420,0.082505,-0.489202,0.616793,0.353110,0.204347,10.62,0
169213,119581.0,1.915838,-1.491317,-0.706994,-0.839778,-1.265238,-0.354304,-1.027380,0.053146,0.092275,...,0.408565,0.904433,-0.002465,-0.329397,-0.227012,-0.095360,-0.024656,-0.043865,129.00,0
143238,85210.0,1.317697,-0.046983,0.247557,-0.254674,-0.342823,-0.525872,-0.170397,-0.147225,0.365641,...,-0.174798,-0.488254,-0.024740,-0.376722,0.243972,0.953142,-0.070605,0.004424,15.21,0

In [58]:
credit_card_data_balanced['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [59]:
credit_card_data_balanced.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94236.300813,0.163618,-0.077106,-0.031804,0.045259,0.002417,0.118270,-0.030260,-0.011973,0.071583,...,-0.034449,0.034663,-0.025044,0.018476,0.023377,-0.012738,-0.005674,-0.014498,0.043377,87.899512
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Splitting the Data into Features and Target

In [60]:
X = credit_card_data_balanced.drop('Class', axis = 1)
y = credit_card_data_balanced['Class']

In [61]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
print(X.shape, x_train.shape, x_test.shape) #printing the shapes of the data

(984, 30) (787, 30) (197, 30)

# Model Training

In [64]:
model = LogisticRegression(max_iter=10000)

In [68]:
model.fit(x_train, y_train)
y_pred_training = model.predict(x_train)
accuracy_train = accuracy_score(y_train, y_pred_training)
print("Accuracy on Training Data:", accuracy_train)

Accuracy on Training Data: 0.9529860228716646

In [69]:
model.fit(x_test, y_test)
y_pred_testing = model.predict(x_test)
accuracy_test = accuracy_score(y_test, y_pred_testing)
print("Accuracy on Testing Data:", accuracy_test)

Accuracy on Testing Data: 0.9593908629441624